# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

appgal_foodrunner_app/google_maps_integration/build/app
/.gradle/
/build/
/infrastructure/mlruns/
src/main/resources/META-INF/resources/
/src/test/resources/dataScience/mnistTest.bin
/src/test/resources/dataScience/mnistTrain.bin
/tmp/
/src/main/resources/tensorflow/mlruns/
remember.txt
/mlruns/
gitpush.sh
