#mongodb
mongodb_host=localhost
mongodb_port=27017
mongodb_connection_string=mongodb://localhost:27017

#kafka
poll_beat=30000

#flink
flink_host=127.0.0.1
flink_port=8081

#hive
hive_conf_directory=/Users/babyboy/mumma/braineous/infrastructure/apache-hive-3.1.3-bin/conf
#specify any directory of choice local or nfs based on hive specifications
table_directory=file:///Users/babyboy/datalake/

#job_manager
thread_pool_size=25

#pipeline_service
braineous_stream_components=dataplatform-1.0.0-cr2-runner.jar


